<!DOCTYPE html>
<html lang="en">
<!-- EJS partial head -->
<%- include ('../partials/head') %> 
<body>
  <!-- EJS partial header-->
  <%- include ('../partials/header') %>
  <main class="product-detail">
    <section class="user-detail">
      <div class=" register">
          <h2>Detalle del usuario</h2>
          
          <label for="first_name_det">Nombre</label>
          <input  type="text" id="first_name_det" name="first_name_det" value="<%= getUser.first_name %>"readonly>

          <label for="last_name_det">Apellido</label>
          <input  type="text" id="last_name_det" name="last_name_det" value="<%= getUser.last_name %>"readonly>

          <label for="email_det">Correo Electrónico</label>
          <input  type="email" id="email_det" name="email_det" value="<%= getUser.email %>"readonly>
          
          <label for="category_det">Categoria</label>
          <input type="text" id="category_det" name="category_det" value="<%= getUser.category.name %>" readonly>
          
          <label for="address_det">Direccion</label>
          <input  type="text" id="address_det" name="address_det" value="<%= getUser.adress %>"readonly>

          <label for="phone_number_det">Telefono</label>
          <input  type="text" id="phone_number_det" name="phone_number_det" value="<%= getUser.phone_number %>"readonly>
          
          <label for="image_det">Imagen</label>
          <center><img src="/img/users/<%= getUser.image %>"  alt="Avatar" class="avatar"></center>
          <section class="buttons">
            <div>
              <a class="button" href="/user/list"><button class="btn primary">&larr; Volver al listado</button></a>
              <a class="button " href="/user/<%= getUser.id %>/edit"><button class="btn primary">Editar Usuario</button></a>
              <a class="button"><form class="has-buttons" action="/user/<%= getUser.id %>?_method=DELETE" method="POST">
                  <button class="btn primary" type="submit">Eliminar usuario</button>
              </form></a>
            </div>
          </section>
      </div>
  </main>
  <!-- EJS partial footer -->
  <%- include ('../partials/footer')%> 
</body>

</html>