<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
    <main>
        <form action="/user/<%= getUser && getUser.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="registerForm">
            <div class=" register">
            <h2>Edicion de usuario</h2>
            <% if (locals.errors && errors.credentials) { %>
                <p><%= errors.credentials.msg %> </p>
            <% } %>
            
            <label for="first_name">Nombre</label>
            <input  type="text" id="first_name" name="first_name" value="<%= getUser.first_name %>" required>
            <p class="feedback"></p>
            <% if (locals.errors && errors.firstName) { %>
                <small style="color: red"><%= errors.firstName.msg %> </small> <br>
            <% } %>

            <label for="last_name">Apellido</label>
            <input  type="text" id="last_name" name="last_name" value="<%= getUser.last_name %>" required>
            <p class="feedback"></p>
            <% if (locals.errors && errors.lastName) { %>
                <small style="color: red"><%= errors.lastName.msg %> </small> <br>
            <% } %>
            
            <label for="categoryId">Category</label>
            <select name="categoryId" id="categoryId">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= getUser.category == category.id ? 'selected': null %>><%= category.name %></option> 
                <% });  %> 
            </select>
            
            
            <label for="address">Direccion</label>
            <input  type="text" id="address" name="address" value="<%= getUser.adress %>"required>
            <p class="feedback"></p>
            <% if (locals.errors && errors.address) { %>
                <small style="color: red"><%= errors.address.msg %> </small>
            <% } %>

            <label for="phone_number">Telefono</label>
            <input  type="text" id="phone_number" name="phone_number" value="<%= getUser.phone_number %>" required>
            <p class="feedback"></p>
            <% if (locals.errors && errors.phoneNumber) { %>
                <small style="color: red"><%= errors.phoneNumber.msg %> </small>
            <% } %>
            
            
            <img src="/img/users/<%= getUser.image %>" alt="Avatar" class="avatar">
            <label for="image">Imagen</label>
            <input type="file" name="image" id="image">
            <p class="feedback"></p>
                
            <div>
                <button type="submit" class="btn primary">Editar</button>
                <button class="reset" href="/user/list" class="btn primary">Cancelar</button>                            
            </div>
            </div>
        </form>
        
    </main>
    <!-- EJS partial footer -->
    <%-include('../partials/footer')%>
</body>
</html>