<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
    <main>
        <form action="/user/<%= getUser && getUser.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class=" register">
            <h2>Edicion de usuario</h2>

            <input type="hidden" name="oldImage" value="<%= getUser && getUser.image %>">
            
            <label for="first_name">Nombre</label>
            <input  type="text" id="first_name" name="first_name" value="<%= getUser.first_name %>"required>

            <label for="last_name">Apellido</label>
            <input  type="text" id="last_name" name="last_name" value="<%= getUser.last_name %>"required>

            <label for="email">Correo Electrónico</label>
            <input  type="email" id="email" name="email" value="<%= getUser.email %>"required>

            <label for="categoryId">Category</label>
            <select name="categoryId" id="categoryId">
                <% categories.forEach(category => { %>
                    <option value="<%= category.id %>" <%= getUser.category == category.id ? 'selected': null %>><%= category.name %></option> 
                <% });  %> 
            </select>
            
            <label for="adress">Direccion</label>
            <input  type="text" id="adress" name="adress" value="<%= getUser.adress %>"required>

            <label for="phone_number">Telefono</label>
            <input  type="text" id="phone_number" name="phone_number" value="<%= getUser.phone_number %>"required>
            
            <label for="name">Imagen</label>
            <input type="file" name="image" value="/img/users/<%= getUser.image %>">
                
            <div>
                <button type="submit" class="btn primary">Editar</button>
                <button class="button" href="/user/list" class="btn primary del">Cancelar</button>                            
            </div>
            </div>
        </form>
        
    </main>
    <!-- EJS partial footer -->
    <%-include('../partials/footer')%>
</body>
</html>