<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
    <main>
        <section class="homepage">
            <div class="containerHome">
                <table>
                    <thead>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Contraseña</th>
                        <th>Categoria</th>
                        <th>Direccion</th>
                        <th>Telefono</th>
                        <th>Imagen</th>
                        <th>Edicion</th>
                        <th>Borrar</th>
                    </thead>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.first_name %></td>
                            <td><%= user.last_name %></td>
                            <td><%= user.email %></td>
                            <td><%= user.password %></td>
                            <td><%= user.category.name %></td>
                            <td><%= user.adress %></td>
                            <td><%= user.phone_number %></td>
                            <td>.....................</td>
                            <td><a class="button" href="/groups/<%= user.id %>/edit">Editar</a></td>
                            <td><form class="form is-inline" action="/groups/<%= user.id %>?_method=DELETE" method="POST">
                                <button class="button is-danger" type="submit">Borrar</button>
                            </form>
                            </td>
                          </tr>
                    <% }); %>
                </table>
            </div>
        </section>
    </main>
    <!-- EJS partial footer -->
    <%-include('../partials/footer')%>
</body>
</html>