<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
    <main>
        <div class="listContainer">
            <div class="buscadorForm">
                <h1>Listado Usuarios</h1>
                <section>
                    <div class="column is-12">
                        <form action="/user/list">
                            <div class="field">
                                <div class="control">
                                    <input 
                                        type="text" 
                                        name="search" 
                                        value="<%= locals.search ? locals.search : "" %>"
                                        placeholder="Ingresa tu búsqueda&hellip;">
                                    <button type="submit">Buscar</button>
                                </div>
                                <p class="feedback"></p>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
            <section class="users" id="user_list">
                <table class="usersTable">
                    <thead>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Imagen</th>
                        <th>Detalle</th>
                        <th>Edicion</th>
                        <th>Borrar</th>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                            <%- include('./partials/user', { user }) %>
                        <% }); %>
                    </tbody>
                </table>
            </section>
        </div>
        
        
    </main>
    <%- include('../partials/footer')  %>  
</body>
</html>