<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head')%>

<body > 
  <%-include('../partials/header')%>
  <main class="homepage">
    <!--Slider principal-->
    <div class="imgHome">
      <img src="/img/home2.png"width="100%">
    </div>
   

    <!--Productos destacados-->
    <section class="homepage">
      <h1 class="hometitle">Productos Destacados</h1>

      <div class="containerHome">
        <% for (let i=0;i<6;i++){ %>
        <article class="homeContainer">
            <div class="homeProduct">
            <a href="/products/<%= products[i].id %>"><img src="/img/products/<%= products[i].image %>" alt="destacado <%= products[i].id %>"></a>
            </div>
            <div class="homeProductContainer">
            <p class="homeProductName"><%= products[i].name %></p>
            <p class="homeProductPrice"><%= products[i].price %></p>
            <button class="btn primary">Agregar al carrito</button>                            
            </div>
        </article>  
        <% } %>
    </div>
    </section>
  </main>

  <%-include('../partials/footer')%>

</body>
</html>