<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="product-add">
    <div class="container">
      <div class="product-add-card">
        <div class="product-add-image">
          <img src="/img/coffee-add-img.png" alt="Coffe package image">
        </div>
        <div class="product-add-form">
          <h1>Agregar producto</h1>
          <form action="/products" method="POST" enctype="multipart/form-data" id="product-form">
            <div class="field-group">
              <div class="field">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="product-name" value="<%= locals.old ? old.name : '' %>" placeholder="Ej: Origen Brasil">
                <small class="text-danger">
                  <%= locals.errors && errors.name ? errors.name.msg : '' %>
                </small>
              </div>
              <div class="field">
                <label for="price">Precio</label>
                <input type="number" step="0.1" name="price" id="product-price" value="<%= locals.old ? old.price : '' %>" placeholder="Ej: 250">
                <small class="text-danger">
                  <%= locals.errors && errors.price ? errors.price.msg : '' %>
                </small>
              </div>
            </div>
            <div class="field">
              <label>Tamaño del paquete</label>
              <div class="field-radio-group">
                <div class="control">
                  <select name="sizeId" id="size">
                      <% sizes.forEach(size => { %>
                        <option value="<%= size.id %>"><%= size.name %></option> 
                      <% });  %> 
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Torrado</label>
              <div class="field-radio-group">
                <select name="roastId" id="roast">
                    <% roasts.forEach(roast => { %>
                      <option value="<%= roast.id %>"><%= roast.name %></option> 
                    <% });  %> 
                </select>
              </div>
            </div>
    
            <div class="field">
              <label>Tostado</label>
              <div class="field-radio-group">
                <select name="toastId" id="toast">
                    <% toasts.forEach(toast => { %>
                      <option value="<%= toast.id %>"><%= toast.name %> </option> 
                    <% });  %> 
                </select>
              </div>
            </div>
            <div class="field">
              <label for="image">Imagén</label>
              <input type="file" name="image" id="product-image" accept="image/*">
              <small class="text-danger">
                <%= locals.errors && errors.image ? errors.image.msg : '' %>
              </small>
            </div>
            <div class="field">
              <label for="description">Descripción</label>
              <textarea name="description" id="product-description" cols="30" rows="10" placeholder="Descripción del producto"><%= locals.old ? old.description : '' %></textarea>
              <small class="text-danger">
                <%= locals.errors && errors.description ? errors.description.msg : '' %>
              </small>
            </div>
            
            <div class="btn-group">
              <button type="submit" class="btn-primary">Agregar</button>
              <button type="reset" class="btn-outline-primary">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer')  %>  
  <%- include('../partials/loadScript', { scriptName: 'productsValidator.js'})  %>  
</body>
</html>