<!DOCTYPE html>
<html lang="en">
<!-- EJS partial head -->
<%- include ('../partials/head') %> 
<body>
  <!-- EJS partial header-->
  <%- include ('../partials/header') %>
  <main class="product-detail">
    <div class="container">
      <div class="product">
        <div class="product-img">
          <img src="/img/products/<%= product.image%>" alt="Imagen producto <%= product.id %>">
        </div>
        <div class="product-actions">
          <div class="product-info">
            <p><b>Origen</b><br> <%= product.name %></p>
            <p><b>Tostado</b><br><%= product.toast.name %></p>
            <p><b>Torrado</b><br><%= product.roast.name %></p>
            <p><b>Tamaño</b><br> <%= product.size.name %> gramos</p>
            <p><b>Precio</b><br> $<%= product.price %></p>
          </div>
          <div class="product-buy">
            <button class="btn primary">Añadir <i class="fas fa-shopping-cart"></i></button>
          </div>
          <div class="product-description">
            <h1>Origen <%= product.name %></h1>
            <h2>Notas de Cata</h2>
            <p><%= product.description %></p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- EJS partial footer -->
  <%- include ('../partials/footer')%> 
</body>

</html>