<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <main class="product-add">
    <div class="container">
      <div class="product-add-card">
        <div class="product-add-image">
          <img src="/img/<%= product.image ? product.image : 'default.png' %>" alt="Coffe package image">
        </div>
        <div class="product-add-form">
          <h1>Editar producto</h1>
          <form class="has-buttons" action="/products/<%= product.id %>?_method=DELETE" method="POST">
              <button class="button is-danger" type="submit">Eliminar producto</button>
          </form>
          <form action="/products/<%= product && product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="oldImage" value="<%= product && product.image %>">
            <div class="field-group">
              <div class="field">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name"  value="<%= product && product.name %>">
              </div>
              <div class="field">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" value="<%= product && product.price %>" >
              </div>
            </div>
            <div class="field">
              <label>Tamaño del paquete</label>
              <div class="field-radio-group">
                <div class="control">
                  <select name="sizeId" id="size">
                      <% sizes.forEach(size => { %>
                        <option value="<%= size.id %>" <%= product.sizeId == size.id ? 'selected': null %>><%= size.name %></option> 
                      <% });  %> 
                  </select>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Torrado</label>
              <div class="field-radio-group">
                <select name="roastId" id="roast">
                    <% roasts.forEach(roast => { %>
                      <option value="<%= roast.id %>" <%= product.roastId == roast.id ? 'selected': null %>><%= roast.name %></option> 
                    <% });  %> 
                </select>
              </div>
            </div>
    
            <div class="field">
              <label>Tostado</label>
              <div class="field-radio-group">
                <select name="toastId" id="toast">
                    <% toasts.forEach(toast => { %>
                      <option value="<%= toast.id %>" <%= product.toastId == toast.id ? 'selected': null %>><%= toast.name %></option> 
                    <% });  %> 
                </select>
              </div>
            </div>
            <div class="field">
              <label for="image">Imagén</label>
              <input type="file" name="image" id="image">
            </div>
            <div class="field">
              <label for="description">Descripción</label>
              <textarea name="description"><%= product && product.description %></textarea>
            </div>
            
            <div class="btn-group">
              <button type="submit" class="btn-primary">Guardar</button>
            </div>
          </form>
          
        </div>
      </div>
    </div>
  </main>
  <%- include('../partials/footer')  %>  
</body>
</html>