<!DOCTYPE html>
<html lang="en">
    
    <%- include('../partials/head.ejs') %>
    
    <body>
        <%- include('../partials/header.ejs') %>

        <main class="container">
            <!--Productos destacados-->
            <section class="products-page">
                
                <h1 class="hometitle">
                    <%= locals.search ? "Resultados para: " + locals.search : "Nuestros productos" %>
                </h1>
                <form action="/products/search" class="search-bar-form">
                    <label for="name">Ordenar por precio</label><br>
                    <label for="bySize">Ascendente</label>
                    <input type="radio" name="filterByPrice" value="asc" id="asc">
                    <label for="bySize">Descente</label>
                    <input type="radio" name="filterByPrice" value="desc" id="desc">
                    <button type="submit">Confirmar</button>
                </form>
                <div class="container-products">
                    <% if (!products.length) { %>
                        <h2>No hay productos</h2>
                    <% } else {%>
                        <% products.forEach(product => { %>
                            <%- include('../products/partials/product', { product }) %> 
                        <% }); %>
                    <% } } {%>

                </div>

            </section>
               

        </main>

        <%- include('../partials/footer')  %>  
    
    </body>
</html>

